<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VigoNFE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <VigoNFE.Properties.Settings>
            <setting name="VigoNFE_Status3_MT_NfeStatusServico2" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeStatusServico2</value>
            </setting>
            <setting name="VigoNFE_Status3_PR_NfeStatusServico3" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeStatusServico3</value>
            </setting>
            <setting name="VigoNFE_Protocolo3_MT_NfeConsulta2" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeConsulta2</value>
            </setting>
            <setting name="VigoNFE_Evento3_MT_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/RecepcaoEvento</value>
            </setting>
            <setting name="VigoNFE_Envia3_MT_NfeAutorizacao" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeAutorizacao</value>
            </setting>
            <setting name="VigoNFE_Retorno3_MT_NfeRetAutorizacao" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeRetAutorizacao</value>
            </setting>
            <setting name="VigoNFE_Protocolo3_PR_NfeConsulta3" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeConsulta3</value>
            </setting>
            <setting name="VigoNFE_Evento3_PR_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfe2.fazenda.pr.gov.br/nfe-evento/NFeRecepcaoEvento</value>
            </setting>
            <setting name="VigoNFE_Envia3_PR_NfeAutorizacao3" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeAutorizacao3</value>
            </setting>
            <setting name="VigoNFE_Retorno3_PR_NfeRetAutorizacao3" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeRetAutorizacao3</value>
            </setting>
            <setting name="VigoNFE_Status2_CE_NfeStatusServico2" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeStatusServico2</value>
            </setting>
            <setting name="VigoNFE_Protocolo2_CE_NfeConsulta2" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeConsulta2</value>
            </setting>
            <setting name="VigoNFE_Evento2_CE_RecepcaoEvento" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/RecepcaoEvento</value>
            </setting>
            <setting name="VigoNFE_Envia2_CE_NfeRecepcao2" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeRecepcao2</value>
            </setting>
            <setting name="VigoNFE_Retorno2_CE_NfeRetRecepcao2" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeRetRecepcao2</value>
            </setting>
            <setting name="VigoNFE_Status3_PE_NfeStatusServico2" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeStatusServico2</value>
            </setting>
            <setting name="VigoNFE_Protocolo3_PE_NfeConsulta2" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeConsulta2</value>
            </setting>
            <setting name="VigoNFE_Evento3_PE_RecepcaoEvento" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/RecepcaoEvento</value>
            </setting>
            <setting name="VigoNFE_Envia3_PE_NfeAutorizacao" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeAutorizacao</value>
            </setting>
            <setting name="VigoNFE_Retorno3_PE_NfeRetAutorizacao" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeRetAutorizacao</value>
            </setting>
        </VigoNFE.Properties.Settings>
    </applicationSettings>
</configuration>